<img src="https://bit.ly/2VnXWr2" width="80" align="left"/>

Ironhack Data Analytics Bootcamp

<BR>

Project 2 ‚Äì **'meat, the future?'**, gathering data from an API and visualization with **Tableau**
<br>
[Felipe Altermann](https://public.tableau.com/app/profile/altermann)
<br>
October 2021
<br>
    <hr>
<br>

> ‚è∞ <i>Time's short?</i>
>
> üëâ [Click here to check my presentation](https://public.tableau.com/app/profile/altermann/viz/Ironhack_Bootcamp_Project_2_meat_the_future/meat_the_future), hosted by Tableau Public ‚ô°

<br>
<br>

<div>
    <img src="./images/meat_the_future.gif" width="600"/>
</div>

# Getting datasets from the World Bank API and Wrapper

In [ ]:
# Setting up environment ‚Äì loading packages

In [429]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import wbgapi as wb
from pandas_datareader import data as web

In [ ]:
# collecting data from AP

response = requests.get('http://api.worldbank.org/v2/country/chn;bra/indicator/DPANUSSPB?date=2012M01:2012M08')
response

results = response.json()
results

response.text

In [2]:
url = "http://api.worldbank.org/v2/country/br?format=json"
a = requests.get(url)
a.json()

[{'page': 1, 'pages': 1, 'per_page': '50', 'total': 1},
 [{'id': 'BRA',
   'iso2Code': 'BR',
   'name': 'Brazil',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Brasilia',
   'longitude': '-47.9292',
   'latitude': '-15.7801'}]]

# listing the available databases

wb.source.info()

# listing the available databases

wb.series.info()

In [3]:
wb.economy.coder(["Brazil", "Germany"])

ORIGINAL NAME    WBG NAME    ISO_CODE
---------------  ----------  ----------
Brazil           Brazil      BRA
Germany          Germany     DEU

In [24]:
wb_economies = wb.economy.DataFrame()
wb_economies = wb_economies.sort_values(by="aggregate").reset_index()
wb_economies = wb_economies.iloc[0:217, :]
wb_economies

,id,name,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
0,ABW,Aruba,False,-70.016700,12.51670,LCN,,LNX,HIC,Oranjestad
1,MMR,Myanmar,False,95.956200,21.91400,EAS,EAP,IDX,LMC,Naypyidaw
2,MNE,Montenegro,False,19.259500,42.46020,ECS,ECA,IBD,UMC,Podgorica
3,MNG,Mongolia,False,106.937000,47.91290,EAS,EAP,IBD,LMC,Ulaanbaatar
4,MNP,Northern Mariana Islands,False,145.765000,15.19350,EAS,,LNX,HIC,Saipan
...,...,...,...,...,...,...,...,...,...,...
212,GBR,United Kingdom,False,-0.126236,51.50020,ECS,,LNX,HIC,London
213,GEO,Georgia,False,44.793000,41.71000,ECS,ECA,IBD,UMC,Tbilisi
214,EST,Estonia,False,24.758600,59.43920,ECS,,LNX,HIC,Tallinn
215,GAB,Gabon,False,9.451620,0.38832,SSF,SSA,IBD,UMC,Libreville
216,FIN,Finland,False,24.952500,60.16080,ECS,,LNX,HIC,Helsinki

In [5]:
wb_economies_id_country = wb_economies.iloc[:, list(range(2)) + [-1]]
wb_economies_id_country.columns = ["Country ID", "Country", "Capital city"]
wb_economies_id_country

    Country ID                   Country Capital city
0          ABW                     Aruba   Oranjestad
1          MMR                   Myanmar    Naypyidaw
2          MNE                Montenegro    Podgorica
3          MNG                  Mongolia  Ulaanbaatar
4          MNP  Northern Mariana Islands       Saipan
..         ...                       ...          ...
212        GBR            United Kingdom       London
213        GEO                   Georgia      Tbilisi
214        EST                   Estonia      Tallinn
215        GAB                     Gabon   Libreville
216        FIN                   Finland     Helsinki

[217 rows x 3 columns]

In [51]:
wb_economies_agg = wb.economy.DataFrame()
wb_economies_agg = wb_economies_agg.sort_values(by="aggregate").reset_index()
wb_economies_agg = wb_economies_agg.iloc[218:265, list(range(2))].reset_index()
wb_economies_agg.drop(columns="index", inplace=True)
wb_economies_agg.columns = ["Country ID", "World Development Indicator"]
wb_economies_agg.head()

  Country ID                  World Development Indicator
0        LCN                    Latin America & Caribbean
1        IDA                                    IDA total
2        IDB                                    IDA blend
3        EAP  East Asia & Pacific (excluding high income)
4        IDX                                     IDA only

## Land data ‚Äì by Country

In [6]:
# Land data to be collected from the World Bank Data API (by ID)

wb_land_data = [
    "AG.CON.FERT.PT.ZS",
    "AG.CON.FERT.ZS",
    "AG.LND.AGRI.K2",
    "AG.LND.ARBL.HA",
    "AG.LND.ARBL.HA.PC",
    "AG.LND.CREL.HA",
    "AG.LND.FRST.K2",
    "AG.LND.TOTL.K2",
    "AG.LND.TOTL.RU.K2",
    "AG.LND.TOTL.UR.K2",
    "AG.PRD.CROP.XD",
    "AG.PRD.FOOD.XD",
    "AG.PRD.LVSK.XD",
    "ER.LND.PTLD.ZS",
]

In [7]:
# Land data columns with World Bank ID's meaning

wb_land_columns = [
    "Year",
    "Country ID",
    "Fertilizer consumption (% of fert prod)",
    "Fertilizer consumption (kg per ha of arable land)",
    "Agricultural land (sq. km)",
    "Arable land (hectares)",
    "Arable land (hectares per person)",
    "Land under cereal production (ha)",
    "Forest area (sq. km)",
    "Land area (sq. km)",
    "Rural land area (sq. km)",
    "Urban land area (sq. km)",
    "Crop production index (2014-2016 = 100)",
    "Food production index (2014-2016 = 100)",
    "Livestock production index (2014-2016 = 100)",
    "Terrestrial protected areas (% of total land area)",
]

In [8]:
wb_land = wb.data.DataFrame(
    wb_land_data, wb_economies_id_country["Country ID"], mrv=60
).T.reset_index()

In [9]:
wb_land.columns = [f"{j}{i}" for i, j in wb_land.columns]

In [10]:
wb_land["index"] = wb_land["index"].str.replace("YR", "").astype(int)

In [11]:
wb_land = pd.wide_to_long(
    wb_land, stubnames=wb_land_data, i=["index"], j="country", suffix=".{3}$", sep=""
)

In [12]:
wb_land.reset_index(inplace=True)
wb_land.columns = wb_land_columns
wb_land = pd.merge(wb_land, wb_economies_id_country, on="Country ID")

In [13]:
wb_land

,Year,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (sq. km),Arable land (hectares),Arable land (hectares per person),Land under cereal production (ha),Forest area (sq. km),Land area (sq. km),Rural land area (sq. km),Urban land area (sq. km),Crop production index (2014-2016 = 100),Food production index (2014-2016 = 100),Livestock production index (2014-2016 = 100),Terrestrial protected areas (% of total land area),Country,Capital city
0,1961,ABW,NaN,NaN,20.0,2000.0,0.036079,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
1,1962,ABW,NaN,NaN,20.0,2000.0,0.035566,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
2,1963,ABW,NaN,NaN,20.0,2000.0,0.035274,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
3,1964,ABW,NaN,NaN,20.0,2000.0,0.035070,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
4,1965,ABW,NaN,NaN,20.0,2000.0,0.034869,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13015,2016,ZWE,249.520154,32.50,162000.0,4000000.0,0.285096,1551550.0,176288.6,386850.0,NaN,NaN,94.21,97.56,101.11,27.210000,Zimbabwe,Harare
13016,2017,ZWE,345.495495,38.35,162000.0,4000000.0,0.280966,1438930.0,175827.9,386850.0,NaN,NaN,119.71,103.35,102.66,27.214585,Zimbabwe,Harare
13017,2018,ZWE,345.495495,38.35,162000.0,4000000.0,0.277031,1641701.0,175367.2,386850.0,NaN,NaN,93.80,103.73,103.89,27.214585,Zimbabwe,Harare
13018,2019,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,174906.5,386850.0,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Harare
13019,2020,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,174445.8,386850.0,NaN,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Harare

In [40]:
# wb_land.to_csv("./assets/wb_land.csv", sep=",", decimal=".")

## Land data ‚Äì shares by Country

In [335]:
# Land data to be collected from the World Bank Data API (by ID)

wb_land_shares_data = [
    "AG.CON.FERT.PT.ZS",
    "AG.CON.FERT.ZS",
    "AG.LND.AGRI.ZS",
    "AG.LND.ARBL.ZS",
    "AG.LND.CREL.HA",
    "AG.LND.CROP.ZS",
    "AG.LND.FRST.ZS",
    "AG.LND.TOTL.K2",
    "NY.GDP.PCAP.CD"
]

In [336]:
# Land data columns with World Bank ID's meaning

wb_land_shares_columns = [
    "Year",
    "Country ID",
    "Fertilizer consumption (% of fert prod)",
    "Fertilizer consumption (kg per ha of arable land)",
    "Agricultural land (% of land area)",
    "Arable land (% of land area)",
    "Land under cereal production (hectares)",
    "Permanent cropland (% of land area)",
    "Forest area (% of land area)",
    "Land area (sq. km)",
    "GDP per capita (current US$)"
]

In [337]:
wb_land_shares = wb.data.DataFrame(
    wb_land_shares_data,
    wb_economies_id_country["Country ID"],
    time=["YR1990", "YR2018"],
).T.reset_index()

In [338]:
wb_land_shares.columns = [f"{j}{i}" for i, j in wb_land_shares.columns]

In [339]:
wb_land_shares["index"] = wb_land_shares["index"].str.replace("YR", "").astype(int)

In [340]:
wb_land_shares = pd.wide_to_long(
    wb_land_shares,
    stubnames=wb_land_shares_data,
    i=["index"],
    j="country",
    suffix=".{3}$",
    sep="",
)

In [341]:
wb_land_shares.reset_index(inplace=True)
wb_land_shares.columns = wb_land_shares_columns

In [342]:
wb_land_shares

,Year,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (% of land area),Arable land (% of land area),Land under cereal production (hectares),Permanent cropland (% of land area),Forest area (% of land area),Land area (sq. km),GDP per capita (current US$)
0,1990,ABW,NaN,NaN,11.111111,11.111111,NaN,NaN,2.333333,180.0,12306.717679
1,2018,ABW,NaN,NaN,11.111111,11.111111,NaN,NaN,2.333333,180.0,30253.279358
2,1990,AFG,77.391304,5.625790,58.266703,12.115921,2253000.0,0.199124,1.850994,652860.0,NaN
3,2018,AFG,369.324810,7.650676,58.081365,11.798854,1912634.0,0.330852,1.850994,652860.0,493.756581
4,1990,AGO,NaN,3.275862,46.044758,2.326141,774281.0,0.401059,63.578070,1246700.0,948.338178
...,...,...,...,...,...,...,...,...,...,...,...
429,2018,ZAF,238.147139,72.833333,79.417850,9.892094,3034761.0,0.340453,14.115103,1213090.0,6372.605655
430,1990,ZMB,561.320755,20.581114,27.994727,3.888941,894616.0,0.026904,63.778098,743390.0,408.769331
431,2018,ZMB,NaN,52.510934,32.063923,5.111718,1208016.0,0.048427,60.789707,743390.0,1516.371100
432,1990,ZWE,133.507166,57.623711,33.630606,7.522295,1576058.0,0.258498,48.666615,386850.0,841.973958
433,2018,ZWE,345.495495,38.350000,41.876696,10.339925,1641701.0,0.258498,45.332093,386850.0,1352.162653

In [343]:
wb_land_shares = wb_land_shares.fillna(0)
wb_land_shares

,Year,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (% of land area),Arable land (% of land area),Land under cereal production (hectares),Permanent cropland (% of land area),Forest area (% of land area),Land area (sq. km),GDP per capita (current US$)
0,1990,ABW,0.000000,0.000000,11.111111,11.111111,0.0,0.000000,2.333333,180.0,12306.717679
1,2018,ABW,0.000000,0.000000,11.111111,11.111111,0.0,0.000000,2.333333,180.0,30253.279358
2,1990,AFG,77.391304,5.625790,58.266703,12.115921,2253000.0,0.199124,1.850994,652860.0,0.000000
3,2018,AFG,369.324810,7.650676,58.081365,11.798854,1912634.0,0.330852,1.850994,652860.0,493.756581
4,1990,AGO,0.000000,3.275862,46.044758,2.326141,774281.0,0.401059,63.578070,1246700.0,948.338178
...,...,...,...,...,...,...,...,...,...,...,...
429,2018,ZAF,238.147139,72.833333,79.417850,9.892094,3034761.0,0.340453,14.115103,1213090.0,6372.605655
430,1990,ZMB,561.320755,20.581114,27.994727,3.888941,894616.0,0.026904,63.778098,743390.0,408.769331
431,2018,ZMB,0.000000,52.510934,32.063923,5.111718,1208016.0,0.048427,60.789707,743390.0,1516.371100
432,1990,ZWE,133.507166,57.623711,33.630606,7.522295,1576058.0,0.258498,48.666615,386850.0,841.973958
433,2018,ZWE,345.495495,38.350000,41.876696,10.339925,1641701.0,0.258498,45.332093,386850.0,1352.162653

In [344]:
# wb_land_shares.to_csv("./assets/wb_land_shares.csv", sep=",", decimal=".")

In [313]:
yr_1990 = wb_land_shares[wb_land_shares['Year'] == 1990].reset_index()
yr_1990.drop(columns=["Year", "index"], inplace=True)

In [450]:
yr_1990

,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (% of land area),Arable land (% of land area),Land under cereal production (hectares),Permanent cropland (% of land area),Forest area (% of land area),Land area (sq. km),GDP per capita (current US$)
0,ABW,0.000000,0.000000,11.111111,11.111111,0.0,0.000000,2.333333,180.0,12306.717679
1,AFG,77.391304,5.625790,58.266703,12.115921,2253000.0,0.199124,1.850994,652860.0,0.000000
2,AGO,0.000000,3.275862,46.044758,2.326141,774281.0,0.401059,63.578070,1246700.0,948.338178
3,ALB,104.187947,176.165803,40.912409,21.131387,321000.0,4.562044,28.788321,27400.0,617.230436
4,AND,0.000000,0.000000,48.936170,2.127660,0.0,0.000000,34.042553,470.0,18878.852313
...,...,...,...,...,...,...,...,...,...,...
212,XKX,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,10887.0,0.000000
213,YEM,0.000000,14.746553,44.748755,2.884634,844845.0,0.195087,1.039832,527970.0,482.248121
214,ZAF,96.924321,61.334922,78.807013,10.551567,6156932.0,0.247302,14.955271,1213090.0,3139.966225
215,ZMB,561.320755,20.581114,27.994727,3.888941,894616.0,0.026904,63.778098,743390.0,408.769331
216,ZWE,133.507166,57.623711,33.630606,7.522295,1576058.0,0.258498,48.666615,386850.0,841.973958

In [315]:
yr_2018 = wb_land_shares[wb_land_shares['Year'] == 2018].reset_index()
yr_2018.drop(columns=["Year", "index"], inplace=True)

In [432]:
yr_2018

,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (% of land area),Arable land (% of land area),Land under cereal production (hectares),Permanent cropland (% of land area),Forest area (% of land area),Land area (sq. km),GDP per capita (current US$)
0,ABW,0.000000,0.000000,11.111111,11.111111,0.0,0.000000,2.333333,180.0,30253.279358
1,AFG,369.324810,7.650676,58.081365,11.798854,1912634.0,0.330852,1.850994,652860.0,493.756581
2,AGO,0.000000,7.930094,45.682594,3.930376,3245206.0,0.252667,54.317406,1246700.0,3289.643995
3,ALB,0.000000,66.585076,42.849672,22.311898,140110.0,3.089562,28.791971,27400.0,5284.380184
4,AND,0.000000,0.000000,40.063830,1.765957,0.0,0.000000,34.042553,470.0,41791.969837
...,...,...,...,...,...,...,...,...,...,...
212,XKX,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,4419.914327
213,YEM,0.000000,3.832632,44.297403,2.079095,630061.0,0.549274,1.039832,527970.0,824.117718
214,ZAF,238.147139,72.833333,79.417850,9.892094,3034761.0,0.340453,14.115103,1213090.0,6372.605655
215,ZMB,0.000000,52.510934,32.063923,5.111718,1208016.0,0.048427,60.789707,743390.0,1516.371100
216,ZWE,345.495495,38.350000,41.876696,10.339925,1641701.0,0.258498,45.332093,386850.0,1352.162653

In [482]:
wb_land_shares = yr_2018.copy()

In [483]:
wb_land_shares.drop(columns=[
    "Fertilizer consumption (% of fert prod)",
    "Fertilizer consumption (kg per ha of arable land)",
    "Agricultural land (% of land area)",
    "Arable land (% of land area)",
    "Land under cereal production (hectares)",
    "Permanent cropland (% of land area)",
    "Forest area (% of land area)",
    "GDP per capita (current US$)"
], inplace=True)

In [484]:
wb_land_shares

    Country ID  Land area (sq. km)
0          ABW               180.0
1          AFG            652860.0
2          AGO           1246700.0
3          ALB             27400.0
4          AND               470.0
..         ...                 ...
212        XKX                 0.0
213        YEM            527970.0
214        ZAF           1213090.0
215        ZMB            743390.0
216        ZWE            386850.0

[217 rows x 2 columns]

In [486]:
wb_land_shares['Share of Fertilizer consumption (% of fert prod) 2018/1990'] = round(((yr_2018['Fertilizer consumption (% of fert prod)'] / yr_1990['Fertilizer consumption (% of fert prod)']) - 1) * 100, 2)
wb_land_shares['Share of Fertilizer consumption (kg per ha of arable land) 2018/1990'] = round(((yr_2018['Fertilizer consumption (kg per ha of arable land)'] / yr_1990['Fertilizer consumption (kg per ha of arable land)']) - 1) * 100, 2)
wb_land_shares['Share of Agricultural land (% of land area) 2018/1990'] = round(((yr_2018['Agricultural land (% of land area)'] / yr_1990['Agricultural land (% of land area)']) - 1) * 100, 2)
wb_land_shares['Share of Arable land (% of land area) 2018/1990'] = round(((yr_2018['Arable land (% of land area)'] / yr_1990['Arable land (% of land area)']) - 1) * 100, 2)
wb_land_shares['Share of Land under cereal production (hectares) 2018/1990'] = round(((yr_2018['Land under cereal production (hectares)'] / yr_1990['Land under cereal production (hectares)']) - 1) * 100, 2)
wb_land_shares['Share of Permanent cropland (% of land area) 2018/1990'] = round(((yr_2018['Permanent cropland (% of land area)'] / yr_1990['Permanent cropland (% of land area)']) - 1) * 100, 2)
wb_land_shares['Share of Forest area (% of land area) 2018/1990'] = round(((yr_2018['Forest area (% of land area)'] / yr_1990['Forest area (% of land area)']) - 1) * 100, 2)
wb_land_shares['Share of GDP per capita (current US$) 2018/1990'] = round(((yr_2018['GDP per capita (current US$)'] / yr_1990['GDP per capita (current US$)']) - 1) * 100, 2)

In [487]:
wb_land_shares = pd.merge(wb_land_shares, wb_economies_id_country, on="Country ID")

In [488]:
wb_land_shares.head()

,Country ID,Land area (sq. km),Share of Fertilizer consumption (% of fert prod) 2018/1990,Share of Fertilizer consumption (kg per ha of arable land) 2018/1990,Share of Agricultural land (% of land area) 2018/1990,Share of Arable land (% of land area) 2018/1990,Share of Land under cereal production (hectares) 2018/1990,Share of Permanent cropland (% of land area) 2018/1990,Share of Forest area (% of land area) 2018/1990,Share of GDP per capita (current US$) 2018/1990,Country,Capital city
0,ABW,180.0,NaN,NaN,0.00,0.00,NaN,NaN,0.00,145.83,Aruba,Oranjestad
1,AFG,652860.0,377.22,35.99,-0.32,-2.62,-15.11,66.15,0.00,inf,Afghanistan,Kabul
2,AGO,1246700.0,NaN,142.08,-0.79,68.97,319.13,-37.00,-14.57,246.89,Angola,Luanda
3,ALB,27400.0,-100.00,-62.20,4.74,5.59,-56.35,-32.28,0.01,756.14,Albania,Tirane
4,AND,470.0,NaN,NaN,-18.13,-17.00,NaN,NaN,0.00,121.37,Andorra,Andorra la Vella

In [489]:
wb_land_shares_2 = wb_land_shares.fillna(0)

In [490]:
wb_land_shares_2

,Country ID,Land area (sq. km),Share of Fertilizer consumption (% of fert prod) 2018/1990,Share of Fertilizer consumption (kg per ha of arable land) 2018/1990,Share of Agricultural land (% of land area) 2018/1990,Share of Arable land (% of land area) 2018/1990,Share of Land under cereal production (hectares) 2018/1990,Share of Permanent cropland (% of land area) 2018/1990,Share of Forest area (% of land area) 2018/1990,Share of GDP per capita (current US$) 2018/1990,Country,Capital city
0,ABW,180.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,145.83,Aruba,Oranjestad
1,AFG,652860.0,377.22,35.99,-0.32,-2.62,-15.11,66.15,0.00,inf,Afghanistan,Kabul
2,AGO,1246700.0,0.00,142.08,-0.79,68.97,319.13,-37.00,-14.57,246.89,Angola,Luanda
3,ALB,27400.0,-100.00,-62.20,4.74,5.59,-56.35,-32.28,0.01,756.14,Albania,Tirane
4,AND,470.0,0.00,0.00,-18.13,-17.00,0.00,0.00,0.00,121.37,Andorra,Andorra la Vella
...,...,...,...,...,...,...,...,...,...,...,...,...
212,XKX,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,inf,Kosovo,Pristina
213,YEM,527970.0,0.00,-74.01,-1.01,-27.93,-25.42,181.55,0.00,70.89,"Yemen, Rep.",Sana'a
214,ZAF,1213090.0,145.70,18.75,0.78,-6.25,-50.71,37.67,-5.62,102.95,South Africa,Pretoria
215,ZMB,743390.0,-100.00,155.14,14.54,31.44,35.03,80.00,-4.69,270.96,Zambia,Lusaka
216,ZWE,386850.0,158.78,-33.45,24.52,37.46,4.17,0.00,-6.85,60.59,Zimbabwe,Harare

In [492]:
wb_land_shares_2['Share of Fertilizer consumption (kg per ha of arable land) 2018/1990'][7]

inf

In [494]:
yr_1990['Fertilizer consumption (kg per ha of arable land)'][7]

0.0

In [495]:
yr_2018['Fertilizer consumption (kg per ha of arable land)'][7]

202.73631059246

In [496]:
wb_land_shares_2.replace([np.inf, -np.inf], np.nan, inplace=True)

In [497]:
wb_land_shares_2 = wb_land_shares_2.fillna(0)

In [498]:
wb_land_shares_2

,Country ID,Land area (sq. km),Share of Fertilizer consumption (% of fert prod) 2018/1990,Share of Fertilizer consumption (kg per ha of arable land) 2018/1990,Share of Agricultural land (% of land area) 2018/1990,Share of Arable land (% of land area) 2018/1990,Share of Land under cereal production (hectares) 2018/1990,Share of Permanent cropland (% of land area) 2018/1990,Share of Forest area (% of land area) 2018/1990,Share of GDP per capita (current US$) 2018/1990,Country,Capital city
0,ABW,180.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,145.83,Aruba,Oranjestad
1,AFG,652860.0,377.22,35.99,-0.32,-2.62,-15.11,66.15,0.00,0.00,Afghanistan,Kabul
2,AGO,1246700.0,0.00,142.08,-0.79,68.97,319.13,-37.00,-14.57,246.89,Angola,Luanda
3,ALB,27400.0,-100.00,-62.20,4.74,5.59,-56.35,-32.28,0.01,756.14,Albania,Tirane
4,AND,470.0,0.00,0.00,-18.13,-17.00,0.00,0.00,0.00,121.37,Andorra,Andorra la Vella
...,...,...,...,...,...,...,...,...,...,...,...,...
212,XKX,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Kosovo,Pristina
213,YEM,527970.0,0.00,-74.01,-1.01,-27.93,-25.42,181.55,0.00,70.89,"Yemen, Rep.",Sana'a
214,ZAF,1213090.0,145.70,18.75,0.78,-6.25,-50.71,37.67,-5.62,102.95,South Africa,Pretoria
215,ZMB,743390.0,-100.00,155.14,14.54,31.44,35.03,80.00,-4.69,270.96,Zambia,Lusaka
216,ZWE,386850.0,158.78,-33.45,24.52,37.46,4.17,0.00,-6.85,60.59,Zimbabwe,Harare

In [1]:
# wb_land_shares_2.to_csv("./assets/wb_land_shares.csv", sep=",", decimal=".")

In [326]:
# wb_land_shares.to_csv("./assets/wb_land_shares.csv", sep=",", decimal=".")

In [385]:
df_1 = yr_1990[["Country ID", "Fertilizer consumption (% of fert prod)"]]

In [386]:
df_2 = yr_2018[["Country ID", "Fertilizer consumption (% of fert prod)"]]

In [388]:
df3 = df_1.merge(df_2, on="Country ID")

In [393]:
df3["share"] = df3["Fertilizer consumption (% of fert prod)_y"] / df3["Fertilizer consumption (% of fert prod)_x"]

In [398]:
df3

,Country ID,Fertilizer consumption (% of fert prod)_x,Fertilizer consumption (% of fert prod)_y,share
0,ABW,0.000000,0.000000,NaN
1,AFG,77.391304,369.324810,4.772175
2,AGO,0.000000,0.000000,NaN
3,ALB,104.187947,0.000000,0.000000
4,AND,0.000000,0.000000,NaN
...,...,...,...,...
212,XKX,0.000000,0.000000,NaN
213,YEM,0.000000,0.000000,NaN
214,ZAF,96.924321,238.147139,2.457042
215,ZMB,561.320755,0.000000,0.000000
216,ZWE,133.507166,345.495495,2.587842

In [419]:
import numpy as np

In [425]:
df3.replace([np.inf, -np.inf], np.nan, inplace=True)

In [426]:
def clean_share(row):
    if row == row:
        return row
    else:
        return 0

In [427]:
df3["share"] = df3["share"].apply(clean_share)

In [418]:
type(df3["share"][19])

numpy.float64

In [428]:
df3.head(50)

,Country ID,Fertilizer consumption (% of fert prod)_x,Fertilizer consumption (% of fert prod)_y,share
0,ABW,0.000000,0.000000,0.000000
1,AFG,77.391304,369.324810,4.772175
2,AGO,0.000000,0.000000,0.000000
3,ALB,104.187947,0.000000,0.000000
4,AND,0.000000,0.000000,0.000000
5,ARE,5.474772,3.378659,0.617132
6,ARG,315.238095,364.065552,1.154891
7,ARM,0.000000,0.000000,0.000000
8,ASM,0.000000,0.000000,0.000000
9,ATG,0.000000,0.000000,0.000000
10,AUS,236.502153,283.915455,1.200477
11,AUT,0.000000,0.000000,0.000000
12,AZE,0.000000,0.000000,0.000000
13,BDI,0.000000,0.000000,0.000000
14,BEL,33.922261,20.346945,0.599811
15,BEN,0.000000,0.000000,0.000000
16,BFA,18246.551724,0.000000,0.000000
17,BGD,131.457175,572.967593,4.358587
18,BGR,71.514790,166.895976,2.333727
19,BHR,0.000000,1.109543,0.000000
20,BHS,0.000000,0.000000,0.000000
21,BIH,0.000000,182.427986,0.000000
22,BLR,0.000000,10.586400,0.000000
23,BLZ,0.000000,0.000000,0.000000
24,BMU,0.000000,0.000000,0.000000
25,BOL,0.000000,34.280447,0.000000
26,BRA,169.188478,590.130103,3.488004
27,BRB,0.000000,0.000000,0.000000
28,BRN,0.000000,0.000000,0.000000
29,BTN,0.000000,0.000000,0.000000
30,BWA,0.000000,0.000000,0.000000
31,CAF,0.000000,0.000000,0.000000
32,CAN,20.158692,26.631470,1.321091
33,CHE,575.000000,0.000000,0.000000
34,CHI,0.000000,0.000000,0.000000
35,CHL,196.591026,31.045521,0.157919
36,CHN,142.365653,90.062618,0.632615
37,CIV,2466.666667,0.000000,0.000000
38,CMR,0.000000,0.000000,0.000000
39,COD,0.000000,0.000000,0.000000
40,COG,0.000000,0.000000,0.000000
41,COL,303.120282,518.324372,1.709963
42,COM,0.000000,0.000000,0.000000
43,CPV,0.000000,0.000000,0.000000
44,CRI,359.602649,0.000000,0.000000
45,CUB,394.557823,361.467089,0.916132
46,CUW,0.000000,0.000000,0.000000
47,CYM,0.000000,0.000000,0.000000
48,CYP,0.000000,0.000000,0.000000
49,CZE,0.000000,286.284308,0.000000

In [40]:
# wb_land.to_csv("./assets/wb_land.csv", sep=",", decimal=".")

In [130]:
wb_land_shares = pd.read_csv("./assets/wb_land.csv", sep=",", decimal=".")

In [134]:
yr_1990 = wb_land_shares[wb_land_shares["Year"] == 1990].reset_index()
yr_1990

,index,Unnamed: 0,Year,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (sq. km),Arable land (hectares),Arable land (hectares per person),Land under cereal production (ha),Forest area (sq. km),Land area (sq. km),Rural land area (sq. km),Urban land area (sq. km),Crop production index (2014-2016 = 100),Food production index (2014-2016 = 100),Livestock production index (2014-2016 = 100),Terrestrial protected areas (% of total land area),Country,Capital city
0,29,29,1990,ABW,NaN,NaN,20.0,2000.0,0.032179,NaN,4.2,180.0,9.008322e+00,172.847748,NaN,NaN,NaN,NaN,Aruba,Oranjestad
1,89,89,1990,AFG,77.391304,5.625790,380400.0,7910000.0,0.637271,2253000.0,12084.4,652860.0,NaN,NaN,44.78,52.90,66.76,NaN,Afghanistan,Kabul
2,149,149,1990,AGO,NaN,3.275862,574040.0,2900000.0,0.244759,774281.0,792627.8,1246700.0,1.248199e+06,1427.029541,13.93,20.05,49.64,NaN,Angola,Luanda
3,209,209,1990,ALB,104.187947,176.165803,11210.0,579000.0,0.176173,321000.0,7888.0,27400.0,2.668671e+04,1689.403809,49.84,48.68,51.01,NaN,Albania,Tirane
4,269,269,1990,AND,NaN,NaN,230.0,1000.0,0.018346,NaN,160.0,470.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,Andorra la Vella
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,12749,12749,1990,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10887.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,Pristina
213,12809,12809,1990,YEM,NaN,14.746553,236260.0,1523000.0,0.130060,844845.0,5490.0,527970.0,4.112876e+05,4703.399902,60.86,40.72,26.71,NaN,"Yemen, Rep.",Sana'a
214,12869,12869,1990,ZAF,96.924321,61.334922,956000.0,12800000.0,0.347821,6156932.0,181420.9,1213090.0,5.346031e+04,53460.312500,72.73,61.85,55.28,NaN,South Africa,Pretoria
215,12929,12929,1990,ZMB,561.320755,20.581114,208110.0,2891000.0,0.359718,894616.0,474120.0,743390.0,NaN,NaN,35.22,37.68,34.12,NaN,Zambia,Lusaka
216,12989,12989,1990,ZWE,133.507166,57.623711,130100.0,2910000.0,0.278938,1576058.0,188266.8,386850.0,NaN,NaN,122.70,101.89,69.88,NaN,Zimbabwe,Harare

In [135]:
yr_2018 = wb_land_shares[wb_land_shares["Year"] == 2018].reset_index()
yr_2018

,index,Unnamed: 0,Year,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (sq. km),Arable land (hectares),Arable land (hectares per person),Land under cereal production (ha),Forest area (sq. km),Land area (sq. km),Rural land area (sq. km),Urban land area (sq. km),Crop production index (2014-2016 = 100),Food production index (2014-2016 = 100),Livestock production index (2014-2016 = 100),Terrestrial protected areas (% of total land area),Country,Capital city
0,57,57,2018,ABW,NaN,NaN,20.00,2000.0,0.018895,NaN,4.2,180.0,NaN,NaN,NaN,NaN,NaN,18.917576,Aruba,Oranjestad
1,117,117,2018,AFG,369.324810,7.650676,379190.00,7703000.0,0.207226,1912634.0,12084.4,652860.0,NaN,NaN,91.05,96.52,105.01,0.104707,Afghanistan,Kabul
2,177,177,2018,AGO,NaN,7.930094,569524.90,4900000.0,0.159040,3245206.0,677175.1,1246700.0,NaN,NaN,98.51,99.02,101.58,6.971427,Angola,Luanda
3,237,237,2018,ALB,NaN,66.585076,11740.81,611346.0,0.213282,140110.0,7889.0,27400.0,NaN,NaN,106.30,106.13,105.58,17.736095,Albania,Tirane
4,297,297,2018,AND,NaN,NaN,188.30,830.0,0.010778,NaN,160.0,470.0,NaN,NaN,NaN,NaN,NaN,26.727725,Andorra,Andorra la Vella
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,12777,12777,2018,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,Pristina
213,12837,12837,2018,YEM,NaN,3.832632,233877.00,1097700.0,0.038518,630061.0,5490.0,527970.0,NaN,NaN,96.24,97.54,98.62,0.771944,"Yemen, Rep.",Sana'a
214,12897,12897,2018,ZAF,238.147139,72.833333,963410.00,12000000.0,0.207639,3034761.0,171228.9,1213090.0,NaN,NaN,110.36,103.62,97.59,7.998165,South Africa,Pretoria
215,12957,12957,2018,ZMB,NaN,52.510934,238360.00,3800000.0,0.218999,1208016.0,451904.6,743390.0,NaN,NaN,97.77,102.65,108.86,37.870010,Zambia,Lusaka
216,13017,13017,2018,ZWE,345.495495,38.350000,162000.00,4000000.0,0.277031,1641701.0,175367.2,386850.0,NaN,NaN,93.80,103.73,103.89,27.214585,Zimbabwe,Harare

In [136]:
wb_land_shares_2 = pd.concat([yr_1990, yr_2018], axis=0)

In [138]:
wb_land_shares_2[wb_land_shares_2["Country"] == "Brazil"]

,index,Unnamed: 0,Year,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (sq. km),Arable land (hectares),Arable land (hectares per person),Land under cereal production (ha),Forest area (sq. km),Land area (sq. km),Rural land area (sq. km),Urban land area (sq. km),Crop production index (2014-2016 = 100),Food production index (2014-2016 = 100),Livestock production index (2014-2016 = 100),Terrestrial protected areas (% of total land area),Country,Capital city
26,1589,1589,1990,BRA,169.188478,67.760879,2349000.00,47340000.0,0.317711,18512400.0,5888980.0,8358140.0,8241430.0,134981.375,41.02,38.20,35.82,NaN,Brazil,Brasilia
26,1617,1617,2018,BRA,590.130103,304.658516,2368788.01,55762000.0,0.266206,21445930.0,4990514.0,8358140.0,NaN,NaN,109.10,107.66,106.50,29.419668,Brazil,Brasilia

## Land data ‚Äì for meat_vegetables data frame

In [368]:
wb_gdp_mv = wb.data.DataFrame(
    wb_land_shares_data,
    wb_economies_id_country["Country ID"],
    time=range(1961,2020),
).T.reset_index()

In [369]:
wb_gdp_mv.columns = [f"{j}{i}" for i, j in wb_gdp_mv.columns]

In [370]:
wb_gdp_mv["index"] = wb_gdp_mv["index"].str.replace("YR", "").astype(int)

In [371]:
wb_gdp_mv = pd.wide_to_long(
    wb_gdp_mv,
    stubnames=wb_land_shares_data,
    i=["index"],
    j="country",
    suffix=".{3}$",
    sep="",
)

In [372]:
wb_gdp_mv.reset_index(inplace=True)
wb_gdp_mv.columns = wb_land_shares_columns
wb_gdp_mv = pd.merge(wb_gdp_mv, wb_economies_id_country, on="Country ID")

In [373]:
wb_gdp_mv.drop(columns=[
    "Country ID",
    "Fertilizer consumption (% of fert prod)",
    "Fertilizer consumption (kg per ha of arable land)",
    "Agricultural land (% of land area)",
    "Arable land (% of land area)",
    "Land under cereal production (hectares)",
    "Permanent cropland (% of land area)",
    "Forest area (% of land area)",
    "Land area (sq. km)"
], inplace=True)

In [374]:
wb_gdp_mv

       Year  GDP per capita (current US$)   Country Capital city
0      1961                           NaN     Aruba   Oranjestad
1      1962                           NaN     Aruba   Oranjestad
2      1963                           NaN     Aruba   Oranjestad
3      1964                           NaN     Aruba   Oranjestad
4      1965                           NaN     Aruba   Oranjestad
...     ...                           ...       ...          ...
12798  2015                   1445.069702  Zimbabwe       Harare
12799  2016                   1464.588957  Zimbabwe       Harare
12800  2017                   1335.665064  Zimbabwe       Harare
12801  2018                   1352.162653  Zimbabwe       Harare
12802  2019                   1156.154864  Zimbabwe       Harare

[12803 rows x 4 columns]

In [375]:
wb_gdp = wb_gdp_mv.copy()

In [377]:
wb_gdp = wb_gdp.fillna(0)

In [378]:
wb_gdp

       Year  GDP per capita (current US$)   Country Capital city
0      1961                      0.000000     Aruba   Oranjestad
1      1962                      0.000000     Aruba   Oranjestad
2      1963                      0.000000     Aruba   Oranjestad
3      1964                      0.000000     Aruba   Oranjestad
4      1965                      0.000000     Aruba   Oranjestad
...     ...                           ...       ...          ...
12798  2015                   1445.069702  Zimbabwe       Harare
12799  2016                   1464.588957  Zimbabwe       Harare
12800  2017                   1335.665064  Zimbabwe       Harare
12801  2018                   1352.162653  Zimbabwe       Harare
12802  2019                   1156.154864  Zimbabwe       Harare

[12803 rows x 4 columns]

In [379]:
# wb_gdp.to_csv("./assets/originals/wb_gdp.csv", sep=",", decimal=".")

## Land data ‚Äì by a World Development Indicator

In [52]:
wb_land_agg = wb.data.DataFrame(
    wb_land_data, wb_economies_agg["Country ID"], mrv=60
).T.reset_index()

In [53]:
wb_land_agg.columns = [f"{j}{i}" for i, j in wb_land_agg.columns]

In [54]:
wb_land_agg["index"] = wb_land_agg["index"].str.replace("YR", "").astype(int)

In [55]:
wb_land_agg = pd.wide_to_long(
    wb_land_agg,
    stubnames=wb_land_data,
    i=["index"],
    j="country",
    suffix=".{3}$",
    sep="",
)

In [61]:
# wb_land_agg.reset_index(inplace=True)
wb_land_agg.drop(columns="index", inplace=True)
wb_land_agg.columns = wb_land_columns
wb_land_agg = pd.merge(wb_land_agg, wb_economies_agg, on="Country ID")

In [62]:
wb_land_agg

,Year,Country ID,Fertilizer consumption (% of fert prod),Fertilizer consumption (kg per ha of arable land),Agricultural land (sq. km),Arable land (hectares),Arable land (hectares per person),Land under cereal production (ha),Forest area (sq. km),Land area (sq. km),Rural land area (sq. km),Urban land area (sq. km),Crop production index (2014-2016 = 100),Food production index (2014-2016 = 100),Livestock production index (2014-2016 = 100),Terrestrial protected areas (% of total land area),World Development Indicator
0,1961,AFE,158.829085,NaN,5.326150e+06,NaN,0.471602,22986771.0,NaN,1.477796e+07,NaN,NaN,2.825631,3.218106,4.141506,NaN,Africa Eastern and Southern
1,1962,AFE,146.989616,NaN,5.322890e+06,NaN,0.465028,23310085.0,NaN,1.477796e+07,NaN,NaN,3.200802,3.276015,4.192438,NaN,Africa Eastern and Southern
2,1963,AFE,146.703323,NaN,5.327180e+06,NaN,0.465181,23856074.0,NaN,1.477796e+07,NaN,NaN,3.168196,3.455535,4.398588,NaN,Africa Eastern and Southern
3,1964,AFE,170.154237,NaN,5.323510e+06,NaN,0.458306,23867246.0,NaN,1.477796e+07,NaN,NaN,2.806992,3.327762,4.366791,NaN,Africa Eastern and Southern
4,1965,AFE,167.498388,NaN,5.320000e+06,NaN,0.451582,24418282.0,NaN,1.477796e+07,NaN,NaN,2.934568,3.340065,4.488519,NaN,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,2016,WLD,90.595230,138.155963,4.769147e+07,NaN,0.187239,733367261.0,39958245.9,1.299566e+08,NaN,NaN,NaN,NaN,NaN,14.403168,World
2816,2017,WLD,91.339324,138.939337,4.808821e+07,NaN,0.186365,734598109.0,NaN,1.299561e+08,NaN,NaN,NaN,NaN,NaN,14.574730,World
2817,2018,WLD,90.370832,136.824232,4.795343e+07,NaN,0.184228,728365199.0,NaN,1.299493e+08,NaN,NaN,NaN,NaN,NaN,14.574800,World
2818,2019,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.299493e+08,NaN,NaN,NaN,NaN,NaN,NaN,World
2819,2020,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.299493e+08,NaN,NaN,NaN,NaN,NaN,NaN,World

In [63]:
# wb_land_agg.to_csv("./assets/wb_land_agg.csv", sep=",", decimal=".")

## Emissions data ‚Äì by Country

In [64]:
# Emissions data to be collected from the World Bank Data API (by ID)

wb_emissions_data = [
    "EN.ATM.CO2E.KT",
    "EN.ATM.CO2E.PC",
    "EN.ATM.GHGO.KT.CE",
    "EN.ATM.GHGT.KT.CE",
    "EN.ATM.METH.AG.KT.CE",
    "EN.ATM.METH.AG.ZS",
    "EN.ATM.METH.ZG",
    "EN.ATM.NOXE.AG.KT.CE",
    "EN.ATM.NOXE.AG.ZS",
    "EN.ATM.NOXE.KT.CE",
    "EN.CO2.BLDG.ZS",
    "EN.CO2.ETOT.ZS",
    "EN.CO2.MANF.ZS",
    "EN.CO2.OTHX.ZS",
    "EN.CO2.TRAN.ZS",
]

In [65]:
# Emissions data columns with World Bank ID's meaning

wb_emissions_columns = [
    "Year",
    "Country ID",
    "CO2 emissions (kt)",
    "CO2 emissions (metric tons per capita)",
    "Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)",
    "Total greenhouse gas emissions (kt of CO2 equivalent)",
    "Agricultural methane emissions (thousand metric tons of CO2 equivalent)",
    "Agricultural methane emissions (% of total)",
    "Methane emissions (% change from 1990)",
    "Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)",
    "Agricultural nitrous oxide emissions (% of total)",
    "Nitrous oxide emissions (thousand metric tons of CO2 equivalent)",
    "CO2 emissions from residential buildings and commercial and public services (% of total fuel combustion)",
    "CO2 emissions from electricity and heat production, total (% of total fuel combustion)",
    "CO2 emissions from manufacturing industries and construction (% of total fuel combustion)",
    "CO2 emissions from other sectors, excluding residential buildings and commercial and public services (% of total fuel combustion)",
    "CO2 emissions from transport (% of total fuel combustion)",
]

In [66]:
wb_emissions = wb.data.DataFrame(
    wb_emissions_data, wb_economies_id_country["Country ID"], mrv=60
).T.reset_index()

In [67]:
wb_emissions.columns = [f"{j}{i}" for i, j in wb_emissions.columns]

In [68]:
wb_emissions["index"] = wb_emissions["index"].str.replace("YR", "").astype(int)

In [69]:
wb_emissions = pd.wide_to_long(
    wb_emissions,
    stubnames=wb_emissions_data,
    i=["index"],
    j="country",
    suffix=".{3}$",
    sep="",
)

In [70]:
wb_emissions.reset_index(inplace=True)
wb_emissions.columns = wb_emissions_columns
wb_emissions = pd.merge(wb_emissions, wb_economies_id_country, on="Country ID")

In [71]:
wb_emissions

,Year,Country ID,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)",Total greenhouse gas emissions (kt of CO2 equivalent),Agricultural methane emissions (thousand metric tons of CO2 equivalent),Agricultural methane emissions (% of total),Methane emissions (% change from 1990),Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent),Agricultural nitrous oxide emissions (% of total),Nitrous oxide emissions (thousand metric tons of CO2 equivalent),CO2 emissions from residential buildings and commercial and public services (% of total fuel combustion),"CO2 emissions from electricity and heat production, total (% of total fuel combustion)",CO2 emissions from manufacturing industries and construction (% of total fuel combustion),"CO2 emissions from other sectors, excluding residential buildings and commercial and public services (% of total fuel combustion)",CO2 emissions from transport (% of total fuel combustion),Country,Capital city
0,1960,ABW,11092.675,204.631696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
1,1961,ABW,11576.719,208.837879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
2,1962,ABW,12713.489,226.081890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
3,1963,ABW,12178.107,214.785217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
4,1964,ABW,11840.743,207.626699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,Oranjestad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12798,2014,ZWE,12150.000,0.894256,1933.483643,29350.0,5890.0,NaN,NaN,4300.0,NaN,5840.0,1.653612,59.442994,8.964317,7.571802,22.280244,Zimbabwe,Harare
12799,2015,ZWE,12400.000,0.897598,2499.469604,31280.0,6640.0,NaN,NaN,4820.0,NaN,6490.0,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Harare
12800,2016,ZWE,10990.000,0.783303,1587.372070,29120.0,6140.0,NaN,NaN,4390.0,NaN,6090.0,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Harare
12801,2017,ZWE,10230.000,0.718570,NaN,28800.0,6230.0,NaN,NaN,4550.0,NaN,6280.0,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Harare
12802,2018,ZWE,12270.000,0.849793,NaN,31380.0,6430.0,NaN,NaN,4710.0,NaN,6470.0,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Harare

In [72]:
# wb_emissions.to_csv("./assets/wb_emissions.csv", sep=",", decimal=".")

## Emissions ‚Äì by a World Development Indicator

In [83]:
wb_emissions_agg = wb.data.DataFrame(
    wb_emissions_data, wb_economies_agg["Country ID"], mrv=60
).T.reset_index()

In [84]:
wb_emissions_agg.columns = [f"{j}{i}" for i, j in wb_emissions_agg.columns]

In [85]:
wb_emissions_agg["index"] = wb_emissions_agg["index"].str.replace("YR", "").astype(int)

In [87]:
wb_emissions_agg = pd.wide_to_long(
    wb_emissions_agg,
    stubnames=wb_emissions_data,
    i=["index"],
    j="country",
    suffix=".{3}$",
    sep="",
)

In [90]:
wb_emissions_agg.reset_index(inplace=True)
wb_emissions_agg.columns = wb_emissions_columns
wb_emissions_agg = pd.merge(wb_emissions_agg, wb_economies_agg, on="Country ID")

In [91]:
wb_emissions_agg

,Year,Country ID,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)",Total greenhouse gas emissions (kt of CO2 equivalent),Agricultural methane emissions (thousand metric tons of CO2 equivalent),Agricultural methane emissions (% of total),Methane emissions (% change from 1990),Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent),Agricultural nitrous oxide emissions (% of total),Nitrous oxide emissions (thousand metric tons of CO2 equivalent),CO2 emissions from residential buildings and commercial and public services (% of total fuel combustion),"CO2 emissions from electricity and heat production, total (% of total fuel combustion)",CO2 emissions from manufacturing industries and construction (% of total fuel combustion),"CO2 emissions from other sectors, excluding residential buildings and commercial and public services (% of total fuel combustion)",CO2 emissions from transport (% of total fuel combustion),World Development Indicator
0,1960,AFE,1.185459e+05,0.906060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa Eastern and Southern
1,1961,AFE,1.237589e+05,0.922474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa Eastern and Southern
2,1962,AFE,1.280939e+05,0.930816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa Eastern and Southern
3,1963,AFE,1.328103e+05,0.940570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa Eastern and Southern
4,1964,AFE,1.443454e+05,0.996033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2768,2014,WLD,3.308519e+07,4.560774,-611613.663721,44438190.0,3427420.0,NaN,NaN,2234500.0,NaN,2881840.0,8.59532,49.040197,19.960318,1.955232,20.449062,World
2769,2015,WLD,3.294343e+07,4.488770,-638109.596301,44423270.0,3442060.0,NaN,NaN,2241760.0,NaN,2904970.0,NaN,NaN,NaN,NaN,NaN,World
2770,2016,WLD,3.294065e+07,4.436759,-686834.764741,44550150.0,3465770.0,NaN,NaN,2263530.0,NaN,2934600.0,NaN,NaN,NaN,NaN,NaN,World
2771,2017,WLD,3.335161e+07,4.441309,NaN,45117640.0,3505600.0,NaN,NaN,2306980.0,NaN,2986520.0,NaN,NaN,NaN,NaN,NaN,World
2772,2018,WLD,3.404105e+07,4.483524,NaN,45873850.0,3513570.0,NaN,NaN,2296270.0,NaN,2984340.0,NaN,NaN,NaN,NaN,NaN,World

In [93]:
# wb_emissions_agg.to_csv("./assets/wb_emissions_agg.csv", sep=",", decimal=".")

## Population data ‚Äì by Country

In [73]:
# Population data to be collected from the World Bank Data API (by ID)

wb_population_data = [
    "NY.GDP.MKTP.CD",
    "NY.GDP.MKTP.KD.ZG",
    "NY.GDP.PCAP.CD",
    "NY.GDP.PCAP.KD.ZG",
    "SP.DYN.LE00.FE.IN",
    "SP.DYN.LE00.IN",
    "SP.DYN.LE00.MA.IN",
    "SP.POP.GROW",
    "SP.POP.TOTL",
    "SP.RUR.TOTL",
    "SP.RUR.TOTL.ZG",
    "SP.RUR.TOTL.ZS",
    "SP.URB.GROW",
    "SP.URB.TOTL",
    "SP.URB.TOTL.IN.ZS",
]

In [74]:
# Population data columns with World Bank ID's meaning

wb_population_columns = [
    "Year",
    "Country ID",
    "GDP (current US$)",
    "GDP growth (annual %)",
    "GDP per capita (current US$)",
    "GDP per capita growth (annual %)",
    "Life expectancy at birth, female (years)",
    "Life expectancy at birth, total (years)",
    "Life expectancy at birth, male (years)",
    "Population growth (annual %)",
    "Population, total",
    "Rural population",
    "Rural population growth (annual %)",
    "Rural population (% of total population)",
    "Urban population growth (annual %)",
    "Urban population",
    "Urban population (% of total population)",
]

In [75]:
wb_population = wb.data.DataFrame(
    wb_population_data, wb_economies_id_country["Country ID"], mrv=60
).T.reset_index()

In [76]:
wb_population.columns = [f"{j}{i}" for i, j in wb_population.columns]

In [77]:
wb_population["index"] = wb_population["index"].str.replace("YR", "").astype(int)

In [78]:
wb_population = pd.wide_to_long(
    wb_population,
    stubnames=wb_population_data,
    i=["index"],
    j="country",
    suffix=".{3}$",
    sep="",
)

In [79]:
wb_population.reset_index(inplace=True)
wb_population.columns = wb_population_columns
wb_population = pd.merge(wb_population, wb_economies_id_country, on="Country ID")

In [80]:
wb_population

,Year,Country ID,GDP (current US$),GDP growth (annual %),GDP per capita (current US$),GDP per capita growth (annual %),"Life expectancy at birth, female (years)","Life expectancy at birth, total (years)","Life expectancy at birth, male (years)",Population growth (annual %),"Population, total",Rural population,Rural population growth (annual %),Rural population (% of total population),Urban population growth (annual %),Urban population,Urban population (% of total population),Country,Capital city
0,1961,ABW,NaN,NaN,NaN,NaN,67.625,66.074,64.429,2.236462,55434.0,27295.0,2.267688,49.239,2.206183,28139.0,50.761,Aruba,Oranjestad
1,1962,ABW,NaN,NaN,NaN,NaN,68.065,66.444,64.747,1.432843,56234.0,27697.0,1.462057,49.254,1.404498,28537.0,50.746,Aruba,Oranjestad
2,1963,ABW,NaN,NaN,NaN,NaN,68.458,66.787,65.053,0.823502,56699.0,27936.0,0.859208,49.270,0.788835,28763.0,50.730,Aruba,Oranjestad
3,1964,ABW,NaN,NaN,NaN,NaN,68.817,67.113,65.356,0.580334,57029.0,28107.0,0.610248,49.285,0.551271,28922.0,50.715,Aruba,Oranjestad
4,1965,ABW,NaN,NaN,NaN,NaN,69.165,67.435,65.660,0.573498,57357.0,28277.0,0.603010,49.300,0.544810,29080.0,50.700,Aruba,Oranjestad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13015,2016,ZWE,2.054868e+10,0.755869,1464.588957,-0.793105,61.719,60.294,58.565,1.549294,14030338.0,9499100.0,1.680837,67.704,1.274094,4531238.0,32.296,Zimbabwe,Harare
13016,2017,ZWE,1.901533e+10,4.699400,1335.665064,3.182506,62.220,60.812,59.105,1.459406,14236599.0,9647147.0,1.546517,67.763,1.276544,4589452.0,32.237,Zimbabwe,Harare
13017,2018,ZWE,1.952362e+10,3.497160,1352.162653,2.047700,62.598,61.195,59.501,1.410382,14438812.0,9788215.0,1.451689,67.791,1.323497,4650597.0,32.209,Zimbabwe,Harare
13018,2019,ZWE,1.693243e+10,-8.100000,1156.154864,-9.396793,62.899,61.490,59.798,1.421142,14645473.0,9928166.0,1.419666,67.790,1.424249,4717307.0,32.210,Zimbabwe,Harare
13019,2020,ZWE,1.676851e+10,-8.000000,1128.210711,-9.346018,NaN,NaN,NaN,1.473871,14862927.0,10070822.0,1.426656,67.758,1.573169,4792105.0,32.242,Zimbabwe,Harare

In [81]:
# wb_population.to_csv("./assets/wb_population.csv", sep=",", decimal=".")

## Population ‚Äì by a World Development Indicator

In [94]:
wb_population_agg = wb.data.DataFrame(
    wb_population_data, wb_economies_agg["Country ID"], mrv=60
).T.reset_index()

In [95]:
wb_population_agg.columns = [f"{j}{i}" for i, j in wb_population_agg.columns]

In [96]:
wb_population_agg["index"] = (
    wb_population_agg["index"].str.replace("YR", "").astype(int)
)

In [97]:
wb_population_agg = pd.wide_to_long(
    wb_population_agg,
    stubnames=wb_population_data,
    i=["index"],
    j="country",
    suffix=".{3}$",
    sep="",
)

In [98]:
wb_population_agg.reset_index(inplace=True)
wb_population_agg.columns = wb_population_columns
wb_population_agg = pd.merge(wb_population_agg, wb_economies_agg, on="Country ID")

In [99]:
wb_population_agg

,Year,Country ID,GDP (current US$),GDP growth (annual %),GDP per capita (current US$),GDP per capita growth (annual %),"Life expectancy at birth, female (years)","Life expectancy at birth, total (years)","Life expectancy at birth, male (years)",Population growth (annual %),"Population, total",Rural population,Rural population growth (annual %),Rural population (% of total population),Urban population growth (annual %),Urban population,Urban population (% of total population),World Development Indicator
0,1961,AFE,1.970186e+10,1.063696,146.853701,-1.439563,44.761180,43.166935,41.618931,2.539822,1.341598e+08,1.141103e+08,2.251577,85.055541,4.211799,2.004945e+07,14.944459,Africa Eastern and Southern
1,1962,AFE,2.147035e+10,7.453563,156.017929,4.755908,45.205585,43.603990,42.049027,2.575182,1.376146e+08,1.167170e+08,2.284359,84.814392,4.230380,2.089762e+07,15.185608,Africa Eastern and Southern
2,1963,AFE,2.570500e+10,5.740520,182.044085,3.054067,45.631162,44.025617,42.466545,2.606839,1.412020e+08,1.193942e+08,2.293738,84.555586,4.355563,2.180783e+07,15.444414,Africa Eastern and Southern
3,1964,AFE,2.350165e+10,5.473950,162.169577,2.767854,46.039221,44.432721,42.871793,2.633213,1.449202e+08,1.221401e+08,2.299832,84.280924,4.458417,2.278012e+07,15.719076,Africa Eastern and Southern
4,1965,AFE,2.678117e+10,5.594137,180.017301,2.861630,46.432448,44.826919,43.266739,2.656488,1.487700e+08,1.249638e+08,2.311892,83.998008,4.504108,2.380616e+07,16.001992,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,2016,WLD,7.641725e+13,2.605572,10292.600173,1.425242,74.504539,72.181171,70.009394,1.163744,7.424485e+09,3.386903e+09,0.162852,45.629167,2.020090,4.035768e+09,54.370833,World
2816,2017,WLD,8.132672e+13,3.281329,10829.974938,2.113299,74.696644,72.385920,70.221942,1.143857,7.509410e+09,3.391638e+09,0.139810,45.176169,1.986643,4.115944e+09,54.823831,World
2817,2018,WLD,8.634351e+13,3.034061,11372.247819,1.906818,74.877412,72.568658,70.403906,1.106151,7.592476e+09,3.395164e+09,0.103956,44.728290,1.932310,4.195477e+09,55.271710,World
2818,2019,WLD,8.760777e+13,2.335558,11417.155024,1.257039,75.044686,72.741689,70.579491,1.065131,7.673345e+09,3.397375e+09,0.065136,44.285567,1.875014,4.274143e+09,55.714433,World
2819,2020,WLD,8.470543e+13,-3.593456,10925.727850,-4.581978,NaN,NaN,NaN,1.035991,7.752841e+09,3.398794e+09,0.041755,43.849599,1.827019,4.352232e+09,56.150401,World

In [100]:
# wb_population_agg.to_csv("./assets/wb_population_agg.csv", sep=",", decimal=".")

In [ ]:
# settings to display all columns
# pd.set_option("display.max_columns", None)

In [ ]:
# restoring default
# pd.reset_option('^display.', silent=True)

In [ ]:
# display all df lines
# pd.set_option('display.max_rows', None)

In [ ]:
# restoring to 10 lines
# pd.set_option('display.max_rows', 10)